<!DOCTYPE html>
<html>
<head>
  <style>
    .btn-primary {
      background-color: #1c1d1f;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
    }
  </style>
</head>
<body>
  <h1>Bonjour, </h1>
  <p>Un utilisateur vient d'utiliser le formulaire de contact du site Rsc Wasquehal: </p>
  <p>Nom: {{name}}</p>
  <p>Email: {{email}}</p>
  <p>Message: {{message}}</p>
  <a href="{{url}}" class="btn-primary">Se connecter</a>
  <p>Cordialement,</p>
  <p>L'équipe RSC-Wasquehal</p>
</body>
</html>
